[Unit]
Description=Schedule Shadow public testnet observations

[Timer]
OnBootSec=2min
OnUnitInactiveSec=10min
AccuracySec=15s
Unit=shadow-observer-testnet.service

[Install]
WantedBy=timers.target

